flask
werkzeug
numpy
scipy
sounddevice
soundfile
torch
faster-whisper
whisper
pyttsx3
language-tool-python
ollama
librosa
llama-cpp-python
chatterbox-tts
TTS
websockets
requests
langchain
langchain-community
networkx
plyer
sympy
